body{
    background-image: url("giphy.gif");
    background-size: 200px;
    background-repeat: no-repeat;
   
    background-color:rgb(255, 217, 0);
    background-position: top;
    margin-top: 200px;
    
    
}
.wrap1{
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
    background: #f5f0f083;
    padding:20px 50px;
    max-width: 800px ;
    margin: auto;
    margin-top: 60px;  
    
}

.add-item{
    display: inline-block;
    background: #f5f0f083;
    padding: 10px 220px 20px 200px;
    border:none; 
    outline: none;
    margin-top: 20px;
    border-radius: 20px;
    position: relative;
    
}

input[type=text]{
    
    font-size: 20px;
    border: none;
    outline: none;
    background:none;
    color: olivedrab;
    text-align: center;
      
}

button {
    font-size: 35px;
    position: absolute;
    border-radius: 20px;
    background:rgb(176, 218, 93);
    margin-left: 250px;
    outline: none;
    color: white;
    border: none;
   
}

    

li{
    background: #f5f0f083;
    font-size: 20px;
    box-sizing: border-box;
    padding: 10px 50px 20px 50px;
    border:none; 
    outline: none;
    margin-top: 20px;
    color: olivedrab;
    border-radius: 20px;
    text-align: center;
    
}
h1{
    text-align: center;
    margin-top: 10px;
    color:olivedrab;
}
.removeMe{
    position: absolute;
    
    font-size: 50px;
    margin-right: 200px;
       
}