body{
  

  background-color:  	 	 	rgb(70,70,70)
  
}
a{
   color: darkseagreen
}

a{
    color: darkseagreen
}

h1{
   font-size: 40px;
   color: teal
   
  
}
h2{
   font-size: 30px;
   color: teal
}

tbody>tr>:nth-child(1){
   color: ivory
}
p{ 
   font-size: 20px;
   font-family: 'Noto Sans TC', sans-serif;
 
   
   color:ivory     
           
}
.table{
   font-size: 23px;
      
   color:teal
}
.table1{
   font-size: 23px;
   color:teal
}

.hello{

margin-top: 100px;
margin-bottom: 100px;
margin-right: 200px;
margin-left: 200px;

}


.sidebar{
 float: left;
 width: 30%;
}
img{
   border-radius: 20%;
}

.Main info{
   float: right;
   width: 70%;
}

.table{

border-collapse: separate;
border-spacing: 15px;

}